header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1px;
    background-color: antiquewhite;
}
.title {
    font-size: 55px;
    font-weight: bold;
}
.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav ul li {
    margin-right: 30px;
}

.main-nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
}
.review-box {
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.movie-image {
    max-width: 50%;
    height: auto;
    margin-right: 200px;
}

.review-content {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}

#review-text {
    width: 100%;
    resize: vertical;
}

#submit-review {
    margin-top: 10px;
    margin-left: 1150px;
}
