body {
    background-color: #6ebcde;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(35, 52, 107);
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
    color: #6ebcde;
}
footer {
    text-align: center;
    padding: 10px;
    color: white;
}
#main-header {
    text-align: center;
    background-color: rgb(220, 220, 220);
    padding: 15px;
    margin: 30px;
    border-radius: 10px;
}


.assignment {
    background: rgb(228, 222, 222);
    border-radius: 10px;
    border: 5px solid rgb(100, 119, 125);
    margin: 10px;
    padding: 30px;
}
img {
    max-width: 150%;
    background: lightcoral;
    display: block;
    margin: auto;
    height: auto;
    border: 5px solid rgb(139, 160, 168);
}
a:hover{
    color: aqua;
    text-decoration: none;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
@media only screen and (min-width: 900px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .assignment {
        flex: 25%;
        flex-grow: 0;
    }
}
