body {
    background: #b3dad1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#info{

width: 70%;
}

/* Navigation Links */
a {
    text-decoration: none; 
    color: #1E90FF; 
    font-weight: bold; 
}
a:hover {
    color: #0077B6;
}
/* Typography */
h1 {
    color: #333333;

}

h2 {
    color: #0077B6;
    font-size: 20px;
}

h3 {
    color: #1E90FF; 
    font-weight: bold; 
}
