body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    background: url(images/background-img.jpg);
    background-size: cover;
   
}
#infor{
    background: rgba(81, 155, 215, 0.8);
    width: 70%;
    margin: auto;
    padding:5px;
    border-radius: 4px;
}
/* Navigation */
a {
    text-decoration: none; 
    background: #519bd7;
    color: rgb(14, 1, 21); 
    font-weight: bold; 
    padding: 5px;
    border-radius: 3px;
}
a:hover{
    background: #7b78a9;
    padding: 5px;
}
img{
    padding: px;
    border-radius: 5px;
}

/* Tables */
table{
    border-collapse:collapse;
    width: 100%;
}
th, td{
    border: 1px solid;  
    padding: 8px;
}

th{
    background: #88b5c1;
}

td{
    background: #4f7589;
}

/* Typography */
h1 {
    color: #01070f;
    font-style: italic; 
}

h2 {
    color: #133d50;
}

h3 {
    color: #92bbc7; 
    font-weight: bold; 
}
