header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 2px;
    background-color: #3c3535;
    color: white;
}
body{
    background-color: #306BAC;
    font-family: 'Helvetica', Arial, sans-serif;
}
p{
    font-size: larger;
    color: white;
}
.title {
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
}
.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav ul li {
    margin-right: 30px;
}

.main-nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    background-color: #eee; 
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
}
h1 {
    text-align: center;
}

.login-container {
    text-align: center;
}


.login {
    text-align: center;
}

#username, #password {
    padding: 5px;
    margin: 5px;
    display: block; 
    margin: 0 auto; 
    font-size: 20px;
}

#log, #register {
    padding: 5px 20px;
    margin: 10px auto; 
    text-align: center; 
    width: auto; 
}
