/* General Styling */
body {
    background-color: #306BAC;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

.title {
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-right: 400px;
}

body, html {
    min-height: 100%;
}

.title a {
    color: inherit; 
    text-decoration: none;
}

/* Header Styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c2828;
    color: rgb(77, 110, 166);
    padding: 10px;
    height: 80px; 
}

header a img {
    max-height: 50px;
} 

img {
    max-width: 100px;
}

.top-title {
    font-size: 30px;
    color: #fff; 
    margin-bottom: 20px;
    text-align: center;
}

.trend {
    font-size: 24px; 
    color: #fff; 
    margin-top: 20px; 
    text-align: center;
}

.main-nav {
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav ul li {
    margin: 0 15px;
}

.main-nav a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
    background-color: #4CAF50;
    transition: background-color 0.5s ease;
}

.main-nav a:hover {
    background-color: #45a049;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: rgba(131, 152, 189, 0.9);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 40%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.title-container {
    text-align: left;
    color: white;
    left: 40%;
    font-size: 12px;
}

.welcome-section {
    background-image: url('images/openheimer.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.welcome-content {
    max-width: 600px;
    margin: 0 auto;
}

.welcome-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center; 
}

.welcome-content a {
    display: block;
    margin: 10px 0; 
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e65c00;
}

.front-title {
    position: absolute;
    top: 50%;
    right: 150px; 
    transform: translateY(-50%);
    color: white; 
}

/* Movies Container Styling */
#movies-container, #new-movies-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2c2828;
    padding: 20px; 
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#new-movies-container {
    flex-wrap: wrap;

}

#genre-filter {
    font-size: 18px;
    color: white;
}

#success {
    background-color: rgb(132, 178, 198);
    color: #fff;
    text-align: left;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    max-width: 300px;
}

#success h3 {
    text-align: center; 
    font-size: 24px;
    margin-bottom: 10px;
}

#success div {
    margin-left: 10px; 
}

#success p {
    font-size: 22px;
    margin: 5px 0;
}

.movie-container {
    flex: 0 0 calc(33.33% - 40px); 
    margin: 20px;
    box-sizing: border-box;
}

.movie-container img {
    width: 100%; 
    max-width: 100%;
    height: auto;
    border: 5px solid #555;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.movie-container p {
    font-size: 15px;
    color: #888;
    text-align: center;
    margin-top: 10px; 
}

#new-movies p {
    font-size: 24px; 
    color: #fff; 
    margin-bottom: 10px;
    text-align: center; 
    font-size: 36px;
}

.movie-container:hover {
    background-color: #333; 
}

.movie-container:hover h2 {
    color: #fff; 
}

.movie-container img:hover {
    transform: scale(1.1); 
}

select {
    padding: 8px;
    font-size: 16px; 
}

.movie-container .movie-info:hover {
    background-color: #333; 
}

.movie-container .movie-info:hover h2 {
    color: #fff; 
}

/* Additional Styling for Movie Info */
.movie-container .movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-container h2 {
    font-size: 24px;
    color: #555;
    margin: 10px 0;
}

.movie-container p {
    font-size: 16px;
    color: #888;
    text-align: center;
}

.movie h2, .new-movie-info h2 {
    font-size: 24px; 
}

.movie p, .new-movie-info p {
    font-size: 16px;
    color: #555; 
}
#about-content {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 20px; 
    margin: 0 auto;
}


.movie-image, .review-image, .new-movie-info img {
    max-width: 30%;
    height: auto;
    border: 2px solid #555; 
    border-radius: 5px;
    margin-bottom: 10px;
}

.movie-container img {
    width: 90%;
    height: 250px;
    max-height: 100%;
    object-fit: cover;

    border-radius: 10px;
    margin: 1px; 
    transition: transform 0.2s ease;
}

/* Review Box Styling */
.review-box {
    margin: 20px;
    padding: 20px;
    border-radius: 10px; 
    justify-content: space-between; 
    background-color: #ddd; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.movie-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #555;
    border-radius: 5px;
    margin-bottom: 10px;
}

#about-content {
    color: white;
}

/* Form Styling */
.contact-form-container {
    width: 50%; 
    margin: 20px auto;
    padding: 50px;
    background-color: #eee; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

#review-form {
    width: 30%; 
    padding: 50px;
    background-color: #eee; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.message {
    display: block;
    color: red;
    margin-top: 10px;
}

#success-message,
#error-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

#success-message {
    background-color: #4caf50; /* Green background for success */
    color: white;
}

#error-message {
    background-color: #f44336; /* Red background for error */
    color: white;
}

#hq {
    width: 100%;
    height: 400px;
    border: 2px solid #000000;
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 10px; 
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#review-form button, #submit-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto; 
    display: block; 
    width: 200px;
    height: 50px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .title {
        font-size: 28px;
        margin-right: 0;
    }

    .main-nav ul {
        flex-direction: column;
        text-align: center;
    }

    .main-nav ul li {
        margin: 10px;
    }

    .main-nav a {
        font-size: 20px;
        padding: 10px 20px;
        width: 100%; 
        box-sizing: border-box; 
    }

    #movies-container, #new-movies-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .movie-container {
        flex: 0 0 calc(50% - 20px); 
        box-sizing: border-box;
    }

    .movie-container img {
        width: 100%;
        height: auto;
        max-height: 200px;
    }

    .movie-image,
    .review-image,
    .new-movie-info img {
        max-width: 100%;
        margin: 0 auto;
    }
}